.wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 50px;
  font-family: "PT Sans";
  font-size: 17px;
  color: #00417a;
  font-weight: 300;
  grid-row: 1/13;
  margin: -10px -10px 0px -10px;
}

#gradient {
  background: linear-gradient(#a6e3ae, #1065b0);
  grid-column: 1/16;
  grid-row: 1/18;
}

a {
  color: white;
  text-decoration: none;
}

/*#back {
  grid-column: 1/16;
  grid-row: 3/13;
  width: 100%;
  height: 100%;
}*/

/* #menu {
  grid-column: 15;
  grid-row: 1;
  background-color: #009BE2;
  border-radius: 12px;
} */

#logo {
  grid-column: 7/10;
  grid-row: 1;
  text-align: center;
}

#color {
  grid-column: 4/13;
  grid-row: 5/12;
  background-color: rgba(172, 179, 186, 0.6);
  border-radius: 12px;
}

#description {
  grid-column: 5/12;
  grid-row: 5/12;
  text-align: center;
}

#slogan {
  color: #00417a;
  font-family: "PT Sans Narrow";
  font-size: 40px;
  font-weight: 267;
  line-height: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#join {
  grid-column: 5/8;
  grid-row: 10;
  text-align: center;
  background-color: #39b54a;
  border-radius: 12px;
  color: white;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
  font-size: 35px;
}

#host {
  grid-column: 9/12;
  grid-row: 10;
  text-align: center;
  background-color: #39b54a;
  border-radius: 12px;
  color: white;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
  font-size: 35px;
}
